@use "sass:color";
@use "variable.scss";
@use "myFunctions.scss";

%text {
    color: variable.$color-tertiary;
    text-align: center;
     }
section{
    padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.exercise {
    border: myFunctions.remCon(variable.$border-size) solid variable.$color-primary;
        justify-content: center;
       
        >h1 {
            @extend %text;
            color: variable.$color-tertiary;
            text-align: center;
            text-decoration: underline;
            text-decoration-color: variable.$color-secondary;
        }
        .exercise-subtitle-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: center;
            justify-content: center;
            flex-grow: 1;
            align-content: center;     
        }
        .exercise-subtitle { 
            border: myFunctions.remCon(variable.$border-size) solid variable.$color-primary;  
            padding: .2rem;
            > h2{
                @extend %text;
                color: variable.$color-tertiary;
                text-align: center;
                text-decoration-color: variable.$color-secondary;
            }
        }
    }

    @mixin article-card ($color: variable.$color-secondary, $border-color: variable.$color-tertiary, $font-size: variable.$font-size){
        color: $color;
        border: myFunctions.remCon(variable.$border-size) solid $border-color;
        text-align: center;   
      
    }

article{
    border: myFunctions.remCon(variable.$border-size) solid variable.$color-tertiary;
    width: 25%;
    height: 100px; 
    @extend %text;
     
    &.style-1{
        @include article-card();
   
    }
    &.style-2{
        @include article-card($color: variable.$color-primary);
      
    }
    &.style-3{  
        font-size: myFunctions.remCon(variable.$footer-font-size);
        @include article-card($color: variable.$color-tertiary, $border-color: variable.$color-secondary);
        display: flex;
        flex-direction: row;
        flex-grow: 1;
    }
}
    #section-fs{
       
        justify-content: space-between;

        @for $var from 1 to 20 {
            :nth-child(#{$var}) {
                background-color: color.adjust(white, $lightness: -5%*$var);
                //background-color:  aqua;
                 color: color.adjust(black, $lightness: +5%*$var);
                   }
                   @if $var == 10 {
                    :nth-child(#{$var}) {
                        background-color: variable.$color-secondary;
                        color:variable.$color-primary;
                    }
                }          
            }


        >div{
            width: myFunctions.remCon(variable.$section-fs-style-font-size);
            height: myFunctions.remCon(variable.$section-fs-style-font-size);
            border: myFunctions.remCon(variable.$border-size) solid variable.$color-primary; 
        
            $sizes: 1rem, 2rem, 3rem;
            @each $size in $sizes {
            @if $size == 1rem {
                &.fs-1rem {
                font-size: 1rem;
                }
            }
            @else if $size == 2rem {
                &.fs-2rem {
                font-size: 2rem;
                }
            }
            @else {
                &.fs-3rem {
                font-size: 3rem;
                }
                }
            }

        } 
    }
        
 
    
 