article, .exercise .exercise-subtitle > h2, .exercise > h1 {
  color: green;
  text-align: center;
}

section {
  padding: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
}

.exercise {
  border: 0.0625rem solid red;
  justify-content: center;
}
.exercise > h1 {
  color: green;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: blue;
}
.exercise .exercise-subtitle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  flex-grow: 1;
  align-content: center;
}
.exercise .exercise-subtitle {
  border: 0.0625rem solid red;
  padding: 0.2rem;
}
.exercise .exercise-subtitle > h2 {
  color: green;
  text-align: center;
  text-decoration-color: blue;
}

article {
  border: 0.0625rem solid green;
  width: 25%;
  height: 100px;
}
article.style-1 {
  color: blue;
  border: 0.0625rem solid green;
  text-align: center;
}
article.style-2 {
  color: red;
  border: 0.0625rem solid green;
  text-align: center;
}
article.style-3 {
  font-size: 1.5rem;
  color: green;
  border: 0.0625rem solid blue;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#section-fs {
  justify-content: space-between;
}
#section-fs :nth-child(1) {
  background-color: #f2f2f2;
  color: #0d0d0d;
}
#section-fs :nth-child(2) {
  background-color: #e6e6e6;
  color: #1a1a1a;
}
#section-fs :nth-child(3) {
  background-color: #d9d9d9;
  color: #262626;
}
#section-fs :nth-child(4) {
  background-color: #cccccc;
  color: #333333;
}
#section-fs :nth-child(5) {
  background-color: #bfbfbf;
  color: #404040;
}
#section-fs :nth-child(6) {
  background-color: #b3b3b3;
  color: #4d4d4d;
}
#section-fs :nth-child(7) {
  background-color: #a6a6a6;
  color: #595959;
}
#section-fs :nth-child(8) {
  background-color: #999999;
  color: #666666;
}
#section-fs :nth-child(9) {
  background-color: #8c8c8c;
  color: #737373;
}
#section-fs :nth-child(10) {
  background-color: gray;
  color: gray;
}
#section-fs :nth-child(10) {
  background-color: blue;
  color: red;
}
#section-fs :nth-child(11) {
  background-color: #737373;
  color: #8c8c8c;
}
#section-fs :nth-child(12) {
  background-color: #666666;
  color: #999999;
}
#section-fs :nth-child(13) {
  background-color: #595959;
  color: #a6a6a6;
}
#section-fs :nth-child(14) {
  background-color: #4d4d4d;
  color: #b3b3b3;
}
#section-fs :nth-child(15) {
  background-color: #404040;
  color: #bfbfbf;
}
#section-fs :nth-child(16) {
  background-color: #333333;
  color: #cccccc;
}
#section-fs :nth-child(17) {
  background-color: #262626;
  color: #d9d9d9;
}
#section-fs :nth-child(18) {
  background-color: #1a1a1a;
  color: #e6e6e6;
}
#section-fs :nth-child(19) {
  background-color: #0d0d0d;
  color: #f2f2f2;
}
#section-fs > div {
  width: 2.8125rem;
  height: 2.8125rem;
  border: 0.0625rem solid red;
}
#section-fs > div.fs-1rem {
  font-size: 1rem;
}
#section-fs > div.fs-2rem {
  font-size: 2rem;
}
#section-fs > div.fs-3rem {
  font-size: 3rem;
}

/*# sourceMappingURL=style.css.map */
